LOKI_TENANT_ID=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/LOKI_TENANT_ID
LOKI_URL=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/LOKI_URL
GRAFANA_URL=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/GRAFANA_URL
GRAFANA_TOKEN=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/GRAFANA_TOKEN
DATA_SOURCE_NAME=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/DATA_SOURCE_NAME
DASHBOARD_FOLDER=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/DASHBOARD_FOLDER
DASHBOARD_NAME=op://jztejt6hvdws656dvofezd26la/wasp-local-creds/DASHBOARD_NAME